#portfolio{
    padding-top: 70px;
    
}
.portfolio-container{
			
    
    font-family: 'poppins', sans-serif;
}		
.work-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;;
    align-items: center;
	justify-content: center;
    place-items: center;
    row-gap: 50px;
    
     
}
@media screen and (max-width: 768px) {
    .work-list {
    grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
    .work-list {
    grid-template-columns: 1fr 1fr
}

}
@media screen and (min-width: 1000px) {
    .work-list {
    grid-template-columns: 1fr 1fr 1fr
}

}
.container{
    align-items: center;
	justify-content: center;
    place-items: center;
}
.work-list img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    
	
}
.work{
    border-radius: 10px;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    
			
}
.layer{
    color: white;
    width: 300px;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),lightpink);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer p{
    width: 200px;
}
.layer a{
    margin-top: 20px;
    color: lightpink;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    border-radius: 50%;
    text-align: center;

} 
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid lightpink;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5px;
    background-color: grey;

}
.btn:hover{
    background: lightpink;
}
